
* {
  box-sizing: border-box;
}

.header {
  background-color: #3333;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  box-shadow: 0 0 25px 0 black;
}
h1{
  font-family: 'didot';
  margin-left: 25px;
}
.navLinks{
  margin: 400px;
}
a {
  margin: 20px;
 right: 30px;
 text-decoration: none;
 font-family: 'didot';
}

/* project styling  */
.parent {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.children {
  color: red;
  text-align: center;
  background-color: #333;
  margin: 25px;
  padding: 25px;
}

/* contact form styling  */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  margin-top: 25px;
  border-radius: 5px;
  background-color: #3333;
  padding: 20px;
  box-shadow: 0 0 25px 0 black;
}

/* footer styling  */

footer {

  text-align: center;
  padding: 3px;
  background-color: #3333;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-shadow: 0 0 25px 0 black;

}

.logo {
  width: 90px;
  height: 80px;
}
.logo:hover {
  background-color: yellow;
}






