
* {
  box-sizing: border-box;
  margin: 0;
}
html, body { height: 100% }
body {
  margin: 0;
  background-color: rgb(0, 0, 0);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* MAIN CONTAINER */
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}



/* HOME STYLIN */

.child-container{
  background-color: rgb(6, 6, 15);
  color: white;

 padding: 10px;
margin-right: 30px;
margin-left: 30px;
margin-top: 10px;
border-style: solid;
border-radius: 15px;
border-color: rgb(28, 28, 28);
}


/* SKILLS STYLING */
i {
  font-size: 50px;
  text-align: center;
}
.grid-container {
  display: inline-grid;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
