
* {
  box-sizing: border-box;
  margin: 0;
}
html, body { height: 100% }
body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* MAIN CONTAINER */
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
}



/* HOME STYLIN */

.child-container{
  background-color: rgb(9, 42, 79);
  color: white;
  width: 100%;
 padding: 10px;
 margin-top: 10px;
}


/* SKILLS STYLING */
i {
  font-size: 50px;
  text-align: center;
}
.grid-container {
  display: inline-grid;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
