
* {
  box-sizing: border-box;
}
html, body { height: 100% }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(background.jpg) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* NAV LINK STYLING */

.navbar {
display: flex;

}

.navLinks,
a {
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;

}

.link{
  text-decoration: none;
}
.link:hover {
  color: #E27D60;
}




/* project styling  */
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-image {
  width: 100%;
}

/* contact form styling  */


.container {
  margin-top: 25px;
  border-radius: 5px;
  background-color: #3333;
  padding: 20px;
  box-shadow: 0 0 25px 0 black;
}

/* footer styling  */







/* this is in the project page */

.scheduler {
  height: 270px;
  width: 480px
}
/* about me page styling */

.aboutmeContainer-left {
  display: block;
}





/* HOME PAGE STYLING */

.name {
color: #123C69;
font-size: 6rem;  
font-weight: 300;
letter-spacing: 4px;
margin-bottom: 2rem; 
text-align: center;
}

.title {
  color: #123C69;
font-size: 3rem;
font-weight: 400;
text-align: center;
padding-bottom: 1rem;


}

.about-me-photo {
display: flex;

justify-content: center;

}
img{
  
  height: 350px;
  width: 250px;
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}
.photo-context {

font-size: xx-small;
color: black;
text-align: center;


}

.aboutMeText {
  font-size: 2rem;
  color: #123C69;
  line-height: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 20px;
}





